:root{
  --ff-inter: 'Inter';
  --ff-readex-pro: 'Readex Pro';
  --fc-black: #000000;
  --backgraund-col:#DCE5E2;
}

body{
  min-width: 1440px;
  font-size: 14px;
  color: var(--fc-black);
}

.content{
  position: relative;
  max-width: 1295px;
  margin: 0 auto;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-icon{
  border: none;
  background: none;
}

.button-icon:hover{
  transform: scale(1.2);
}

.button{
  padding: 14px 53px;
  font-size: 1.28em;
  font-family: var(--ff-inter);
  border-radius: 200px;
  background: none;
}

.button:hover{
  background: var(--fc-black);
  color: #DCE5E2;
}

.img{
  max-width: 100%;
  height: 100%;
}