.header{
  padding: 31px 0;
}

.nav-list-item{
  padding: 0 16px;
}

.nav-list-items-link{
  font-family: var(--ff-inter);
}

.nav-list-items-link:hover{
  text-decoration: underline;
  font-weight: 600;
}

.wrapper-icon{
  padding: 0 16px;
}